* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#loader-main-div {
  background: #78bed0 url(./pics/lodinggif.gif) no-repeat center center;
  background-size: 50vh;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*                           navbar area css */
.navbar-main-div {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 100%;
  /* color: white; */
  color: #988735;
  background-color: transparent;
  /* Semi-transparent background */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.dropdown a {
  background-color: transparent !important;
  border: none !important;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.dropdown2 {
  /* height: 60vh; */
  display: flex;
  flex-direction: row;
  background-color: transparent !important;
  border: none !important;
}

.dropdown2 li {
  flex-direction: column;
}

.row-div-dropdown {
  display: flex;
  flex-direction: row;
}

/* From Uiverse.io by aadium */
.paste-button {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
}

.button {
  background-color: transparent;
  color: #212121;
  display: flex;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
}

.dropdown-content {
  display: none;
  font-size: 15px;
  position: absolute;
  z-index: 1;
  height: 10vh !important;
  min-width: 200px;
  background-color: #2a4aff;
  /* background-color: #212121; */
  /* border: 2px solid #4CAF50;  */
  /* border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.dropdown-content a {
  color: WHITE;
  background-color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #4caf50;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}

nav {
  background-color: transparent;
  height: 50px;
  position: fixed;
  align-items: center;
  width: 100%;
}

.img-navbar {
  height: 22vh;
  padding-bottom: 9vh;
  max-width: 100%;
}

nav #ull {
  background-color: transparent;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100vh;
  top: -100%;
  margin-top: 20px;
  transition: 0.7s;
  z-index: -1;
}

nav #ull li {
  list-style: none;
  color: black;
  font-size: 1.5vw;
  line-height: 50px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

nav #ull li a {
  color: black !important;
  font-size: 1.5vw;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

nav label.che {
  float: right;
  margin-right: 30px;
  font-size: 50px;
}

nav input {
  display: none;
}

#check:checked~#ull {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 48vh;
  align-items: center;
  object-fit: contain;
  top: 10%;
}

/* Image Gallery Area CSS */

.right-side-img-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.right-side-img-div img {
  transition: transform 0.3s ease-in-out;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.typewriter {
  height: 20vh;
  display: flex;
  align-items: center;
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.image-overlay h1 {
  color: black;
  font-size: 10vh;
  padding-bottom: 5vh;
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  font-style: italic;
}

.right-side-img-div:hover .image-overlay {
  opacity: 1;
}

/*                           image gallery  area css ends              */
/*                  after images profile and all area codes start      */
.main-div-for-profile-area {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
  padding-top: 10vh;
  justify-content: space-around;
}

.div-for-2-card {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  justify-content: space-around;
}

.div-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.div-card img {
  height: 80%;
  width: 100%;
}

/*                  after images profile and all area codes end      */
/*                     trending scrooling image css code start         */
.trending-slider-main-cointainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
}

.trending-slider-row-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  color: white;
  /* background-color: #808080; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri;
  direction: ltr;
}

:root {
  --theme: black;
}

@media (min-width: 768px) {
  .image-slider-container {
    width: 90%;
    margin: 20px auto;
  }
}

.image-slider-container .image-slider-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}

.image-slider-container .image-slider-heading h2 {
  font-size: 37px;
  color: black;
  font-weight: 900;
}

.image-slider-container .image-slider-heading .swiper-pagination {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  color: black;
}

.image-slider-container .image-slider-heading .swiper-pagination .swiper-pagination-bullet {
  /* background-color: #e4e4e4; */
  opacity: 100%;
  width: 15px;
  height: 10px;
  border-radius: 100px;
  transition: 0.5s;
  margin: 0px 3px;
}

.image-slider-container .image-slider-heading .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--theme);
  width: 30px;
}

.image-slider-container .swiper {
  position: relative;
}

.image-slider-container .swiper .swiper-slide {
  width: 170px;
}

.image-slider-container .swiper .swiper-slide .slide-con {
  overflow: hidden;
  height: 220px;
  margin: 0px 0px;
  position: relative;
  border-radius: 10px;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-info {
  text-align: left;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-info h2 {
  font-size: 25px;
  padding: 5px 0px 5px 0px;
  color: white;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-info span {
  font-size: 13px;
  margin-right: 0px;
  color: #727272;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns a {
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  font-size: 13px;
  margin: 0px 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns a svg {
  font-size: 15px;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns .imdb-rate {
  width: 100%;
  font-size: 15px;
  color: #ecc900;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns .imdb-rate:hover {
  background-color: #ecc900;
  color: black;
  border: 0;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns .like:hover {
  color: white;
  background-color: #ff2a00;
  border: 0;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details .movie-btns .show-movie:hover {
  color: white;
  background-color: #2a4aff;
  border: 0;
}

.image-slider-container .swiper .swiper-slide .slide-con:hover .slide-details {
  display: flex;
}

.image-slider-container .swiper .swiper-slide .slide-con:hover div.movie-info {
  animation: 30s 1 m;
}

@keyframes m {
  from {
    transform: translateY(-85px);
  }

  1% {
    transform: translateY(60px);
  }

  1.5% {
    transform: translateY(0px);
  }

  2% {
    transform: translateY(20px);
  }

  2.5% {
    transform: translateY(0px);
  }

  to {
    transform: translateY(0px);
  }
}

.image-slider-container .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}

.treinding-item-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}

.treinding-item-heading h1 {
  font-weight: 900;
}

/*                     trending scrooling image css code ends         */
/*                                round  card div                       */
.round-card-main-cointainer {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;

  /* background-color: #f5f5f5; */
}

.round-card-res-main-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.round-card-main-cointainer h1 {
  padding-left: 40vw;
  padding-bottom: 5vh;
  font-weight: 900;
  font-size: 8vh;
  color: black;
}

.round-card-heading-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  padding-top: 4vh;
  align-items: center;
  padding-left: 12vh;
  padding-right: 14vh;
}

.round-card-heading-div h4 {
  font-size: 30px;
  font-weight: 800;
}

.round-card-heading-div h6 a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.round-card-row-div {
  /* padding-top: 2vh; */
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  /* padding-bottom: 2vh; */
  height: 40%;
  width: 100%;
}

.card {
  /* background-color: rgba(128, 128, 128, 0.247) !important; */
  position: relative;
  background: transparent;
  width: 300px;
  height: 200px !important;
}

.card:hover {
  width: 300px;
}

.card .container-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #e7e7e7; */
  width: 190px;
  height: 190px;
  cursor: pointer;
  /* box-shadow: 0 0 3px 1px #1818183d, 2px 2px 3px #18181865, inset 2px 2px 2px #ffffff; */
  transition: all 0.3s ease-in-out, opacity 0.3s;
  transition-delay: 0.6s, 0s;
}

.card:hover .container-image {
  opacity: 0;
  border-radius: 8px;
  transition-delay: 0s, 0.6s;
}

.card .container-image .image-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: auto;
  object-fit: contain;
  /* filter: drop-shadow(2px 2px 2px #1818188a); */
  transition: all 0.3s ease-in-out;
  transition-delay: 0.4s;
}

.card:hover .container-image .image-circle {
  opacity: 0;
  transition-delay: 0s;
}

.card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #e7e7e7; */
  padding: 20px;
  width: 190px;
  height: 190px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  /* box-shadow: 0 0 3px 1px #1818183d, 2px 2px 3px #18181865, inset 2px 2px 2px #ffffff; */
  visibility: hidden;
  transition: 0.3s ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}

.card:hover .container-image {
  opacity: 0;
  border-radius: 8px;
  transition-delay: 0s, 0.6s;
}

.card:hover .content {
  width: 290px;
  height: 190px;
  visibility: visible;
  transition-delay: 0.5s;
}

.card:hover .content .detail {
  color: #181818;
  opacity: 100%;
  transition: 1s;
  transition-delay: 0.3s;
}

.card .content .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0s;
}

.card:hover .content .detail {
  color: #181818;
  opacity: 100%;
  transition: 1s;
  transition-delay: 0.3s;
}

.card .content .detail span {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 800;
}

.card .content .detail button {
  background: #b8854b;
  margin-top: auto;
  width: 75px;
  height: 25px;
  color: #ffffff;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.card .content .detail button:hover {
  background: #d39f63;
}

.card .content .product-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card .content .product-image .box-image {
  display: flex;
  position: absolute;
  top: 0;
  left: -25%;
  width: 100%;
  height: 115%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s ease-in-out;
  transition-delay: 0s;
}

.card:hover .content .product-image .box-image {
  top: -25%;
  left: 0;
  opacity: 100%;
  transform: scale(1);
  transition-delay: 0.3s;
}

.card .content .product-image .box-image .img-product {
  margin: auto;
  width: 7rem;
  height: auto;
}

.fil-shoes1,
.fil-shoes2 {
  fill: #333333;
}

/*                                             adds css                                      */
.adds-code {
  display: flex;
  flex-direction: row;
  height: 50vh;
  /* background-color: black; */
  width: 100%;
}

.adds-code img {
  display: flex;
  flex-direction: row;
  /* height: 50vh; */
  /* background-color: black; */
  /* width: 100%; */
}
.marquee-images {
  width: 100%;
  white-space: nowrap;
}
.marquee-images img {
  margin-right: 90px; /* Adds space between images */
  object-fit: contain;
}
/*                                         adds css end  */
/*                                     team card project */
.team-card-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
  padding-top: 10vh;
  align-items: center;
  /* background-color: #181818; */
  color: black;
}

.main-div-for-res {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.row-first-div-for-res {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 50%;
}

.row-second-div-for-res {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 50%;
}

.team-card-main-div h1 {
  font-weight: 900;
}

.team-card-row-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 15vh;
  width: 100%;
  justify-content: space-around;
}

.card-Container-div {
  width: 200px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: 0.5s;
  cursor: pointer;
}

.profileDiv {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  transition-duration: 0.5s;
  color: rgb(155, 155, 155);
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.card-Container-div:hover .profileDiv {
  transform: translateX(-25%) translateY(-20%);
  transition-duration: 0.5s;
}

.infoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  z-index: 1;
}

.nameDiv {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: aliceblue;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  gap: 2px;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.role {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: rgb(48, 48, 48);
  margin-bottom: 5px;
}

.socialDiv {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(14, 14, 14);
  gap: 25px;
}

.infoDiv a {
  width: 50%;
}

.socials {
  width: 100%;
  fill: rgb(14, 14, 14);
}

/*  */
/*                                     team card project end */
/*                             footer css code               */
.card {
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card-avatar {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
}

/*Card footer*/
.card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-social__item {
  list-style: none;
}

.card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515f65;
  cursor: pointer;
  transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

/*Hover*/
.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.card-avatar:hover {
  transform: scale(1.1);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

#picassoFooter {
  /* background: linear-gradient(135deg, #1a1a1a, #2c2c2c); */
  background-color: #181818;
  color: #ffffff;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.footer-section {
  margin: 20px;
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  color: #f0f0f0;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.footer-section h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50%;
  height: 2px;
  background: linear-gradient(90deg, #ffd700, #afeeee);
  transition: width 0.3s ease;
}

.footer-section h3:hover::after {
  width: 100%;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
}

.footer-navigation ul li {
  margin-bottom: 10px;
}

.hover-effect {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.hover-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffd700;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.hover-effect:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.hover-effect:hover {
  color: #ffd700;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo .logo {
  width: 100px;
  height: 100px;
  transition: transform var(--transition-speed);
}

.footer-logo .logo:hover {
  transform: scale(1.1) rotate(5deg);
}

.footer-logo .logo circle,
.footer-logo .logo path {
  transition: all var(--transition-speed);
}

.footer-logo .logo:hover circle {
  r: 47;
}

.footer-logo .logo:hover path {
  d: path("M25 75 Q 50 15 75 75");
}

.footer-logo h2 {
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  font-size: 1.8em;
  background: linear-gradient(45deg,
      var(--primary-color),
      var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-logo p {
  margin-top: 5px;
  font-style: italic;
  opacity: 0.8;
}

.footer-contact p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-contact i {
  margin-right: 10px;
  color: #afeeee;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #ffd700;
  color: #1a1a1a;
  transform: translateY(-3px);
}

.footer-art {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: 1;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 2;
}
/* footer form code start */
.form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}
.report-form{
  display: flex;flex-direction: column;align-items: center;justify-content: center;height: 100%;width: 100%;
}

.title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  color:white;
  background-color: #181818;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 50px;
  color:white;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  background-color: #181818;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  /* align-self: flex-end; */
  padding: 8px;
  border: 1px solid rgb(219, 213, 213) !important;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #181818;
  color: white;
  cursor: pointer;
}
    
/* footer form code ends */

/*          fotter css end  */
/*          responsive design code start */
@media screen and (max-width: 900px) {

  /* navbar code  start */
  .navbar-main-div {
    display: flex;
  }

  .img-navbar {
    width: 60%;
  }

  .typewriter {
    display: none;
  }

  /* navbar code  end */
  /* image gallery code start */
  .right-side-img-div {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* image gallery code end */
  /*                  after images profile and all area codes start      */
  .main-div-for-profile-area {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    padding-top: 4vh;
    justify-content: space-around;
    align-items: center;
  }

  .div-for-2-card {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: space-around !important;
  }

  .div-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    justify-content: center;
  }

  .div-card img {
    height: 40%;
    width: 80%;
  }

  .div-card h1 {
    height: 10%;
    width: 100%;
    font-size: medium;
  }

  /*                  after images profile and all area codes end      */
  /*                     trending scrooling image  start         */
  .trending-slider-main-cointainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    padding-top: 4vh;
  }

  .trending-slider-row-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    color: white;
    /* background-color: #808080; */
  }

  .image-slider-container {
    width: 100%;
    margin: 20px auto;
  }

  .swiper-pagination {
    display: none;
  }

  .image-slider-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /*                     trending scrooling image  end         */
  /* trendin heading + round card div code start    */
  .treinding-item-heading {
    display: flex;
  }

  .round-card-main-cointainer {
    display: flex;
    flex-direction: column !important;
    background-color: rgba(255, 255, 255, 0.404);
    height: auto;
    width: 100%;
    padding-bottom: 1vh;
    gap: 4vh !important;
  }

  .round-card-row-div {
    gap: 4vh;
  }

  .card {
    /* background-color: red !important;  */
    position: relative;
    background: transparent;
    width: 300px !important;
    height: 500px !important;
  }

  .card:hover {
    width: 500px !important;
    align-items: center !important;
    justify-content: center !important;
    height: 200px !important;
    background-color: rgba(255, 255, 255, 0.397);
    object-fit: contain;
  }

  .card:hover .container-image {
    opacity: 0;
    border-radius: 8px;
    transition-delay: 0s, 0.6s;
  }

  .card:hover .content {
    width: 270px !important;
    height: 170px !important;
    visibility: visible;
    transition-delay: 0.5s;
  }

  .card:hover .content .detail {
    color: #181818;
    opacity: 100%;
    transition: 1s;
    transition-delay: 0.3s;
  }

  /* trendin heading + round card div code end    */
  .adds-code {
    display: none;

  }

  /* team cards start */
  .team-card-main-div {
    display: flex;
  }

  .main-div-for-res {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
  }

  .row-first-div-for-res {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .row-second-div-for-res {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  /* team card ends */
  /* footer form */
  .form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column !important;
    gap: 20px !important;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  .report-form{
    display: flex;flex-direction: column;align-items: center;justify-content: center;height: 100%;width: 100%;
  }
  
}

/*  */
/* Responsive Design */
@media (max-width: 1024px) {
  .round-card-main-cointainer h1 {
    padding-left: 30vw;
    font-size: 6vh;
  }

  .round-card-heading-div {
    flex-direction: column;
    height: auto;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .round-card-heading-div h4 {
    font-size: 24px;
    text-align: center;
  }

  .round-card-heading-div h6 a {
    font-size: 16px;
    text-align: center;
  }

  .card {
    width: 250px;
    height: 180px !important;
  }

  .card .container-image,
  .card .content {
    width: 160px;
    height: 160px;
  }

  .card:hover .content {
    width: 250px;
    height: 160px;
  }
}

@media (max-width: 768px) {
  .round-card-main-cointainer h1 {
    padding-left: 20vw;
    font-size: 5vh;
  }

  .round-card-heading-div {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .round-card-heading-div h4 {
    font-size: 20px;
  }

  .round-card-heading-div h6 a {
    font-size: 14px;
  }

  .card {
    width: 200px;
    height: 150px !important;
  }

  .card .container-image,
  .card .content {
    width: 140px;
    height: 140px;
  }

  .card:hover .content {
    width: 200px;
    height: 140px;
  }
}

@media (max-width: 480px) {
  .round-card-main-cointainer h1 {
    padding-left: 10vw;
    font-size: 4vh;
  }

  .round-card-heading-div {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .round-card-heading-div h4 {
    font-size: 18px;
  }

  .round-card-heading-div h6 a {
    font-size: 12px;
  }

  .round-card-row-div {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 180px;
    height: 130px !important;
  }

  .card .container-image,
  .card .content {
    width: 120px;
    height: 120px;
  }

  .card:hover .content {
    width: 180px;
    height: 120px;
  }
}