*{
    padding: 0;
    margin: 0;
}
/*                           navbar area css */
.navbar-main-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18vh;
}
.left-side-nav-div{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 20%;
    align-items: center;
    padding-left: 10vw;
}
.nav-bar-h4{
  color: black;
  text-decoration: none;
}
.left-side-nav-div img{
    height:17vh;
    width: 60%;
}
.right-side-nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 70%;
}
.dropdown a{
  background-color: white;
  border: black 1px solid;
  color: black;
}
.dropdown a:hover{
  background-color: black;
  color: white;
}
  
/*                           navbar area css  ends              */


/*                           image gallery  area css               */
.right-side-img-div{
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 3vh;
  width: 100%;
  position: relative;
  overflow: hidden; 
  background-color: black;
}
.right-side-img-div img{
  transition: transform 0.3s ease-in-out;
  padding-left: 1rem;
  padding-top: 1rem;
  height: 40vh;
  width: 19.5%;
}
/* Add this CSS to style.css */

/* Add this CSS to style.css */

/* Add this CSS to style.css */

 .right-side-img-div-row { 
  display: flex;
  justify-content: space-between; 
 }

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.158);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1; /* Ensure overlay is above images */
}

.image-overlay h1 {
  color: white;
  font-weight: bold;
  padding-bottom: 5vh;
}

/* Class to trigger overlay visibility */
.right-side-img-div.covered .image-overlay {
  opacity: 1;
} 

/*                           image gallery  area css ends              */

